In [10]:
import pandas as pd 

# Create a pandas DataFrame
data = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Age': [25, 30]})

# Access and print the DataFrame
print(data)

    Name  Age
0  Alice   25
1    Bob   30

In [14]:
print (data.Name)

0    Alice
1      Bob
Name: Name, dtype: object

In [26]:
import pandas as pd
NewSeries = pd.Series([10,20,30], index=['a','b','c'])
print(NewSeries)

a    10
b    20
c    30
dtype: int64

In [36]:
#creating a dataframe from a dictionary
data = {
    'Name': ['Alice','Bob','Charlie'],
    'Age': [25,30,35],
    'Salary': [50000,60000,70000]
}

df = pd.DataFrame(data)
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

In [38]:
#Adding a new column
df['Department']=['HR','Finance','Enginnering']
print(df)

      Name  Age  Salary   Department
0    Alice   25   50000           HR
1      Bob   30   60000      Finance
2  Charlie   35   70000  Enginnering

In [50]:
#1. Create a dataframe
data = {
    'Name': ['Alice','Bob','Charlie','David'],
    'Age': [25,30,35,40],
    'City':["New york","Los angeles","Chicago","Houston"],
    'Salary': [70000,80000,120000,90000]
}
df = pd.DataFrame(data)

#2. Display the Daraframe
print("DataFrame:")
print(df)

DataFrame:
      Name  Age         City  Salary
0    Alice   25     New york   70000
1      Bob   30  Los angeles   80000
2  Charlie   35      Chicago  120000
3    David   40      Houston   90000

In [52]:
#3. Access specific columns
print("\nAccessing the 'Name' column:")
print(df["Name"])

Accessing the 'Name' column:
0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

In [56]:
#4. filter rows based on condition
print("\nFiltering rows where Salary > 80000:")
print(df[df["Salary"] > 80000])

Filtering rows where Salary > 80000:
      Name  Age     City  Salary
2  Charlie   35  Chicago  120000
3    David   40  Houston   90000

In [60]:
#5. add a new column
df["Bonus"]=df['Salary']*0.1
print("\nDataFrame after adding a 'Bonus' column:")
print(df)

DataFrame after adding a 'Bonus' column:
      Name  Age         City  Salary    Bonus
0    Alice   25     New york   70000   7000.0
1      Bob   30  Los angeles   80000   8000.0
2  Charlie   35      Chicago  120000  12000.0
3    David   40      Houston   90000   9000.0

In [62]:
#6. basic statistics
print("\nBasic Statistics:")
print(df.describe())

Basic Statistics:
             Age         Salary         Bonus
count   4.000000       4.000000      4.000000
mean   32.500000   90000.000000   9000.000000
std     6.454972   21602.468995   2160.246899
min    25.000000   70000.000000   7000.000000
25%    28.750000   77500.000000   7750.000000
50%    32.500000   85000.000000   8500.000000
75%    36.250000   97500.000000   9750.000000
max    40.000000  120000.000000  12000.000000

In [66]:
#7. Sort the dataframe
print("\nDataFrame sorted by age:")
print(df.sort_values(by="Age"))

DataFrame sorted by age:
      Name  Age         City  Salary    Bonus
0    Alice   25     New york   70000   7000.0
1      Bob   30  Los angeles   80000   8000.0
2  Charlie   35      Chicago  120000  12000.0
3    David   40      Houston   90000   9000.0

In [68]:
#8. Save the dataframe to a CSV file
df.to_csv("output.csv",index=False)
print("\nDataframe saved to 'output.csv'")

Dataframe saved to 'output.csv'

In [112]:
import pandas as pd 
#Load the dataset from a local file
file_path = "/Users/shubham/Developer/LearnCode/Python/LAB_1/Titanic.csv" #Path to the local titanic dataset
df = pd.read_csv(file_path)

#Display the first 5rows of the dataset
print("First 5 rows of dataset:")
print(df.head())

First 5 rows of dataset:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [114]:
#display basic information about the dataset
print("\nBasic information avout the dataset:")
print(df.info())

Basic information avout the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [116]:
#count of servivors (1=survived , 0 = not survived)
survivor_count=df['Survived'].value_counts()
print("\nSurvivor count(0=not survived ,1 = survived):")
print(survivor_count)

Survivor count(0=not survived ,1 = survived):
Survived
0    549
1    342
Name: count, dtype: int64

In [118]:
#data manipulation 
import pandas as pd 
#local data
df = pd.read_csv("data.csv")
#Explore
print(df.head())
print(df.describe())

   col1  col2 col3
0     5     3    A
1    12     6    B
2     8     2    C
3    15     8    D
4     7     4    E
            col1      col2
count   5.000000  5.000000
mean    9.400000  4.600000
std     4.037326  2.408319
min     5.000000  2.000000
25%     7.000000  3.000000
50%     8.000000  4.000000
75%    12.000000  6.000000
max    15.000000  8.000000