In [3]:
print ("hello")

hello

In [10]:
a = 4
if a==4 : 
    print ("YAY")

YAY

In [1]:
x =10 # integer
y =3.14 #float
name= "data" #string
is_ready = True # boolean
print(type(x))
print(type(y))
print(type(name))
print(type(is_ready))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [16]:
a = True
b = False
print(a and b)
print(a or b)
print(not a)

False
True
False

In [22]:
numbers = [1,2,3,4,5]
print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])
print(numbers[4])

1
2
3
4
5

In [20]:
numbers = [1,2,3,4,5] #list
for x in numbers : 
    print (x)

1
2
3
4
5

In [24]:
numbers = [1,2,3,4]
numbers.append(6)
for x in numbers :
    print(x)

1
2
3
4
6

In [28]:
numbers = [1,2,3,4]
numbers[2] = 100
print(numbers)

[1, 2, 100, 4]

In [30]:
newList = ["shubham",1,2,"shubrat",0.5,0.2,"swikrit",99]
print(newList)

['shubham', 1, 2, 'shubrat', 0.5, 0.2, 'swikrit', 99]

In [34]:
newList = ["shubham",1,2,"shubrat",0.5,0.2,"swikrit",99]
newList.remove("shubrat")
print(newList)

['shubham', 1, 2, 0.5, 0.2, 'swikrit', 99]

In [38]:
newList = ["shubham",1,2,"shubrat",0.5,0.2,"swikrit",99]
newList.remove(99)
print(newList)

['shubham', 1, 2, 'shubrat', 0.5, 0.2, 'swikrit']

In [40]:
newList = ["shubham",1,2,"shubrat",0.5,0.2,"swikrit",99]
newList.append([8,9,10])
print(newList)

['shubham', 1, 2, 'shubrat', 0.5, 0.2, 'swikrit', 99, [8, 9, 10]]

In [104]:
# Dictionary is the collection of key value pairs where each key is unique and it maps to value .
person = {"name" : "alice" , "age" :20}
print(person["name"])
print(person["age"])

alice
20

In [66]:
l = 9
b = 7
a = l*b
print("The area is:", a)

The area is: 63

In [88]:
numbers = [1,2,3,4]
for number in numbers: 
    if number % 2 == 0:
        print(f"{number} is even.")
    else:
        print(f"{number} is odd.")
print("Max: " ,max(numbers))
print("Min: " ,min(numbers))
print("Sum: ", sum(numbers))

1 is odd.
2 is even.
3 is odd.
4 is even.
Max:  4
Min:  1
Sum:  10

In [102]:
#function to calculate the mean of a list 

def calculate_mean(data):
    return sum(data)/len(data)
    
data = [5,10,15,20]
mean = calculate_mean(data)
print(f"The mean is {mean}")

The mean is 12.5

In [92]:
#oop and conditions

for num in numbers:
    if num%2==0:
        print(f"{num} is even")

2 is even
4 is even

In [94]:
#Python libraries for Data Science

#NumPy : For numerical operations 
import numpy as np
array = np.array([1,2,3,4])
print(array.mean()) #average

2.5

In [100]:
import numpy as np 
#Create a NumPy array 
array = np.array([1,2,3,4,5])
#perform mathematical operations 
print(array*2)

[ 2  4  6  8 10]

In [124]:
import pandas as pd 
#Create a Pandas DataFrame
data = pd.DataFrame({'Name' : ['Alice','Bob'], 'Age':[25,30]})
#Access a column
print (data)
print('-----')
print (data['Age'])
print('-----')
print (data['Name'])

#pandas le data frame lai tabluar form ma rakhxa

    Name  Age
0  Alice   25
1    Bob   30
-----
0    25
1    30
Name: Age, dtype: int64
-----
0    Alice
1      Bob
Name: Name, dtype: object

In [126]:
import pandas as pd 
#creating a series from a list 
data = pd.Series([10,20,30,40])
print(data)

#Accessing a value by index
print(data[1]) 

#Custom index
dataWithLabels = pd.Series([10,20,30], index=['a','b','c'])
print(dataWithLabels)

0    10
1    20
2    30
3    40
dtype: int64
20
a    10
b    20
c    30
dtype: int64

In [4]:
#Creating a DataFrame from a dictionary
import pandas as pd  

data = {
    'Name': ['Alice', 'Bob', 'Charlie'], 
    'Age': [25, 30, 35],                
    'Salary': [50000, 60000, 70000]      
}
df = pd.DataFrame(data)
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000